#contenido{
    text-align: center;
}

#circulo1{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50px;
    display: inline-block;
}

#circulo2{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50px;
    display: inline-block;
}

#circulo3{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50px;
    display: inline-block;
}

#circulo4{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50px;
    display: inline-block;
}

#circulo5{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50px;
    display: inline-block;
}