#imagen{
    width: 500px;
    height: 247px;
    background-image: url("imgmultimedia/elo.png");
    background-repeat:repeat; 
    background-size:25%; 
    margin: auto;
}

p{
    text-align: center;
    font-weight: bold; 
}

#imagen2    {
    width: 500px;
    height: 247px;
    background-image: url("imgmultimedia/elo.png");
    background-size:cover; 
    margin: auto;
}

#imagen3    {
    width: 500px;
    height: 247px;
    background-image: url("imgmultimedia/elo.png");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: auto;