#fotos{
    text-align: center;
    margin-top: 60px;
    border: solid red;
    padding: 20px;
}

#uno{
    float: left;
    display: inline-block;
    width: 200px;
}

#dos{
    display: inline-block;
    width: 220px;
}

#tres{
    float: right;
    display: inline-block;
    width: 300px;
}