#general{
    display: inline-block;
    width: 100%;
    text-align: center;
}

#uno{
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: blue;
    float: left; 
    font-size: 150px; 
    border-radius: 50%;
    line-height: 165%;
    color: white;

}

#dos{
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: blue;
    font-size: 150px; 
    border-radius: 50%;
    line-height: 165%;
    color: white; 
}

#tres{
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: blue;
    float: right; 
    font-size: 150px;
    border-radius: 50%;
    line-height: 165%;
    color: white; 
}