.contenido{
    text-align: center;
}

.circulos{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50px;
    display: inline-block;
}

.circulos2{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50px;
    display: inline-block;
}

#boton{
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

#boton2{
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 20px;
}