#cuerpo{
    width: 100%;
}

#cabeza{
    height: 40px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 240%;
    font-weight: bold;
    width: 100%;
}

#pie{
    height: 40px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 240%;
    font-weight: bold;
    bottom: 0;
    position: fixed;
    width: 100%;
}