#centrado1{
    display: inline-block;
    text-align: center;
    width: 100%;
}

#centrado2{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 4px; 
}

#primero{
    color: red;
    background-color: blue;
    width: auto;
    height: auto;
    display: inline-block;
}

#segundo{
    color: green;
    background-color: deeppink;
    width: auto;
    height: auto;
    display: inline-block;
}

#tercero{
    color: tomato;
    background-color: purple;
    width: auto;
    height: auto;
    display: inline-block;
}

#cuarto{
    color:yellow;
    background-color:darkred;
    width: auto;
    height: auto;
    display: inline-block;
}