h1{
    color: brown;
}

#primero{
    font-weight: bold;
}

#segunda{
    text-decoration: underline;
}

#tercera{
    text-decoration: underline;
    font-style: italic;
}

.fuente{
    font-family: 'Courier New', Courier, monospace;
}