.contenido{
   text-align: center;
}
.contenido2{
    width: 70%;
    float: right;
}

.bolas{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border-radius: 100px;
    display: inline-block;
    
}

.nume1{
    line-height: 130%;
    font-size: 60px;
}

.nume2{
    line-height: 130%;
    font-size: 60px;
}

.nume3{
    line-height: 130%;
    font-size: 60px;
}