form.miformulario {
    padding: 30px 30px 10px 30px;
    border: 1px dashed black;
    width: 330px;
    margin: auto;
}

form.miformulario > label {
    width: 100px;
    display: inline-block;
}

form.miformulario > input {
    width: 200px;
    margin-bottom: 10px;
}

form.miformulario  button {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}






.formu label{
    width: 70px;
    display: inline-block;
    color: blue;
    font-weight: bold;
    padding: 10px;
}



.largo{
    width: 600px;
    display: inline;
}

.corto input{
    width: 250px;
    margin-bottom: 3px;
    display: inline;
}

.margen{
    padding: 10px;
}

.margen1{
    padding: 10px;
    color: blue;
    font-weight: bold; 
}

#contenido{
    margin: auto;
    width: 70%;
}