

.mibox{
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 100px;
    line-height: 460%;
    font-size: 40px;
    text-align: center;
    color: white;
    display: inline-block;
}
