@media only screen and (max-width: 799px) {
    body {
        background-color: lightblue;
    }
}

@media only screen and (orientation: landscape) {
    body {
        background-color: red;
    }
}
