body{
    width: 90%;
    text-align: center;
    margin: auto;
}

.mibox.fijo{
    text-align: center;
    background-color: red;
    margin-bottom: 10px;
    height: 50px;
    line-height: 300%;
}


.mibox.fijo1{
    text-align: center;
    background-color: green;
    margin-bottom: 10px;
    height: 50px;
    line-height: 300%; 
}

